.features__wrapper {
  height: 120px;
  margin-bottom: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-color;
  border-radius: 4px;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.features__item {
  width: 100%;
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

.features__title {
  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $title-text-color;
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.features__text {
  width: 270px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $text-color;
}
