.features__wrapper {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-color;
  border-radius: 4px;
}

.features__list {
  display: flex;
  gap: 30px;
}

.features__title {
  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $title-text-color;
}

.features__text {
  width: 270px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $text-color;
}