.hero {
  height: 600px;
  max-width: 1600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-color: #2f303a;
}
.hero__content {
  padding: 200px 0px;
}

.hero__title {
  max-width: 650px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $secondary-color;
}

.hero__btn {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 216px;
  margin: 0 auto;
  border-radius: 4px;
  border-color: transparent;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: $secondary-color;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color $transition-time $transition-function;
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
