.team {
  background: $background-color;
}

.team__title {
  margin-bottom: 50px;
  @extend %title;;
  color: $title-text-color;
}

.team__list {
  display: flex;
  gap: 30px;
}

.team__item {
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
}

.team__description {
  padding: 30px;
}

.team__name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $title-text-color;
}

.team__position {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $text-color;
}

.soc {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.soc__item {
  width: 44px;
  height: 44px;
}

.soc__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: $color-icon;
  transition: background-color $transition-time $transition-function, color $transition-time $transition-function;
  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $secondary-color;
  }
}

.soc__icon {
  fill: currentColor;
}
