.header {
  background: $secondary-color;
  border-bottom: 1px solid #ececec;
  position: relative;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  & span {
    color: $accent-color;
  }
  @media screen and (max-width: 479px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 87px;
    font-size: 24px;
    line-height: 1.17;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 92px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.menu {
  display: none;
  @media screen and (min-width: 767px) {
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 14px;
    line-height: 1.17;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.menu__link {
  position: relative;

  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $title-text-color;

  display: block;
  transition: color $transition-time $transition-function;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contact {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 12px;
    line-height: 1.17;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    font-size: 14px;
  }
}

.contact__mail,
.contact__tel {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $text-color;

  transition: color $transition-time $transition-function;
  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;
  transition: fill $transition-time $transition-function;
}

.current {
  color: $accent-color;
  &::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -1px;

    display: block;
    width: 100%;
    height: 4px;
    margin: -1px;
    background-color: $accent-color;
    border-radius: 2px;
    animation: currentBorder $transition-time $transition-function;
    display: none;
    @media screen and (min-width: 480px) {
      display: block;
    }
  }
}

.mob-menu {
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  // padding: 48px 40px 84px;
  background-color: #fff;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  &.is-open {
    transform: translateX(0);
  }
  & .btn-mob-menu-close {
    position: absolute;
    top: 10px;
    right: 15px;
    &:hover,
    &:focus {
      fill: $accent-color;
    }
  }
}

.btn-mob-menu-open,
.btn-mob-menu-close {
  border: none;
  background-color: transparent;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mob-menu-content {
  padding: 48px 40px 84px;
  overflow: auto;
}

.mob-menu-pages {
  margin-bottom: 302px;
  @media screen and (max-width: 479px) {
    margin-bottom: 250px;
  }
}

.mob-menu-pages-item:not(:last-child) {
  margin-bottom: 35px;
}

.mob-menu-pages-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $title-text-color;
}

.active {
  color: $accent-color;
}

.mob-menu-contact {
  margin-bottom: 64px;
}

.mob-menu-contact-tel {
  display: block;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: $accent-color;
}

.mob-menu-contact-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $text-color;
}

.mob-menu-soc {
  display: flex;
  gap: 20px;
}

.mob-menu-soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-menu-soc-item {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  &::after {
    position: absolute;
    content: "";
    top: 10px;
    left: -20px;
    display: block;
    width: 22px;
    height: 1px;
    background-color: rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    color: #000000;
  }

  &:first-child::after {
    content: "";
    display: none;
  }
}
