.header {
  background: $secondary-color;
  border-bottom: 1px solid #ececec;
  position: relative;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  padding-top: 16px;
  padding-bottom: 16px;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  & span {
    color: $accent-color;
  }
  @media screen and (min-width: 768px) {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.menu {
  // display: flex;
  // align-items: center;
  // gap: 50px;
  display: none;
  @media screen and (min-width: 767px) {
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 12px;
    line-height: 1.17;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.menu__link {
  position: relative;

  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $title-text-color;

  display: block;
  transition: color $transition-time $transition-function;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contact {
  // display: flex;
  // align-items: center;
  // margin-left: auto;
  // gap: 50px;
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 12px;
    line-height: 1.17;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    font-size: 16px;
  }
}

.contact__mail,
.contact__tel {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $text-color;

  transition: color $transition-time $transition-function;
  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;
  transition: fill $transition-time $transition-function;
}

.current {
  color: $accent-color;
  &::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -1px;

    display: block;
    width: 100%;
    height: 4px;
    margin: -1px;
    background-color: $accent-color;
    border-radius: 2px;
    animation: currentBorder $transition-time $transition-function;
    display: none;
    @media screen and (min-width: 480px) {
      display: block;
    }
  }
}

// .btn-mob-menu {
//   border: none;
//   background-color: transparent;
// }

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  padding: 48px 40px 84px;
  background-color: #fff;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  &.is-open {
    transform: translateX(0);
  }
  & .btn-mob-menu-close {
    position: absolute;
    top: 21px;
    right: 25px;
  }
}

.btn-mob-menu-open,
.btn-mob-menu-close {
  border: none;
  background-color: transparent;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mob-menu-pages-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $title-text-color;
}

.active {
  color: $accent-color;
}