.header {
  background: $secondary-color;
  border-bottom: 1px solid #ececec;
  position: relative;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  // margin-right: 93px;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  & span {
    color: $accent-color;
  }
}

.menu {
  // display: flex;
  // align-items: center;
  // gap: 50px;
  display: none;
}

.menu__link {
  position: relative;

  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $title-text-color;

  display: block;
  transition: color $transition-time $transition-function;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contact {
  // display: flex;
  // align-items: center;
  // margin-left: auto;
  // gap: 50px;
  display: none;
}

.contact__mail,
.contact__tel {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $text-color;

  transition: color $transition-time $transition-function;
  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;
  transition: fill $transition-time $transition-function;
}

.current {
  color: $accent-color;
  &::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -1px;

    display: block;
    width: 100%;
    height: 4px;
    margin: -1px;
    background-color: $accent-color;
    border-radius: 2px;
    animation: currentBorder $transition-time $transition-function;
    display: none;
  }
  @media screen and (max-width: 767px) {
    color: $accent-color;
  }
}

.header__btn {
  border: none;
  background-color: transparent;
}

.header__menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px 83px;
  background-color: #3f51b5;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  &.is-open {
    transform: translateX(0);
  }
  & .btn__closemenu {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}

.header__btn {
  border: none;
  background-color: transparent;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
