.footer {
  padding: 60px 0;
  background-color: #2f303a;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $secondary-color;

  display: block;
  margin-bottom: 20px;
  span {
  color: $accent-color;
}
}

.footer__location {
  margin-bottom: 9px;

  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
  color: $secondary-color;
}

.footer__item {
  margin-bottom: 9px;
}

.footer__mail,
.footer__tel {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color $transition-time $transition-function;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}


.footer__join {
  margin-bottom: 20px;

  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $secondary-color;
}

.soc__link--whithe {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color $transition-time $transition-function;
  &:hover,
  &:focus {
    background: $accent-color;
  }
}

.soc__icon--whithe {
  fill: $secondary-color;
}

.subscribe__wrapper {
  display: flex;
}

.subscribe__field {
  width: 358px;
  margin-right: 12px;
  padding: 15px 16px;
  color: $secondary-color;
  background-color: #2f303a;
  outline: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  &::placeholder {
  font-weight: 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
}

.subscribe__join {
  margin-bottom: 20px;

  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $secondary-color;
}


.subscribe__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 200px;
  border-radius: 4px;
  border-color: transparent;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: $secondary-color;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.btn__icon {
  margin-left: 10px;
  fill: $secondary-color;
}