.filter {
  background: $secondary-color;
}

.filter-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 34px;
}

.filter-btn {
  display: block;
  margin: 0 auto;
  padding: 6px 22px;
  border-style: none;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background: #f5f4fa;
  transition: color $transition-time $transition-function, background-color $transition-time $transition-function, box-shadow $transition-time $transition-function;
  &:hover,
  &:focus {
    color: $secondary-color;
    background: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-link {
  display: block;
  transition: box-shadow $transition-time $transition-function;
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    display: block;
  }
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.project-animation-text {
  position: absolute;
  top: 0;
  left: 0;

  padding: 63px 24px;
  height: 100%;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: $secondary-color;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform $transition-time $transition-function;
  .project-link:hover &,
  .project-link:focus & {
    transform: translateY(0);
  }
}

.description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.project-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $title-text-color;
}

.project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: $text-color;
}
