.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity $transition-time $transition-function, visibility $transition-time $transition-function;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 528px;
  min-height: 581px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: $secondary-color;
  transform: translate(-50%, -50%) scale(1);
  transition: transform $transition-time $transition-function;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.btn-modal-close {
  position: absolute;
  top: 8px;
  right: 8px;

  border-radius: 50%;
  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: $secondary-color;
  transition: fill $transition-time $transition-function;
  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.your-data-form {
  padding: 40px;
}

.title-form {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-text-color;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  & label {
    margin-bottom: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: $text-color;
  }
  & input {
    width: 100%;
    margin: 0;
    padding: 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    transition: border-color $transition-time $transition-function;
  }
  &:focus-within,
  & input:focus {
    fill: $accent-color;
    border-color: $accent-color;
  }
}

.icon-form {
  position: absolute;
  top: 50%;
  left: 15px;
  transition: fill $transition-time $transition-function;
}

.form-comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  & label {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: $text-color;
  }
  & textarea {
    width: 100%;
    resize: none;
    padding: 12px 16px;
    height: 138px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    transition: border-color var(--transition-time) var(--transition-function);
  }
  & textarea:focus {
    border-color: $accent-color;
  }
  & textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.form-contract-condition {
  margin-bottom: 30px;
  text-align: center;
}

.form-contract-condition > .checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute;
}

.border-icon {
  position: relative;
  top: 2px;
  left: 0;
  display: inline-flex;
  align-items: center;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 1px solid $title-text-color;
  border-radius: 2px;
  transition: background-color $transition-time $transition-function, border-color $transition-time $transition-function;
  .checkbox:checked + label & {
    background-color: $accent-color;
    border-color: $accent-color;
  }
  .checkbox:checked:focus + label & {
    outline: transparent;
  }
  .checkbox:focus + label & {
    outline: 1px solid $title-text-color;
  }
}

.icon-check {
  opacity: 0;
  transition: opacity $transition-time $transition-function;
  .checkbox:checked + label & {
    opacity: 1;
  }
}

.contract {
  text-decoration: underline;
  color: $accent-color;
}

.btn-submit-form {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 200px;
  margin: 0 auto;
  border-radius: 4px;
  border-color: transparent;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: $secondary-color;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color $transition-time $transition-function, filter $transition-time $transition-function;
  &:hover,
  &:focus {
    background-color: #188ce8;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}
