  $text-color: #757575;
  $title-text-color: #212121;
  $accent-color: #2196f3;
  $secondary-color: #ffffff;
  $color-icon: #afb1b8;
  $background-color: #f5f4fa;
  $transition-time: 250ms;
  $transition-function: cubic-bezier(0.4, 0, 0.2, 1);
